Step 1:- 

Import all the required Python Libraries

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
from sklearn import metrics

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
from sklearn.model_selection import train_test_split

Step 2:-

Locate an open source data from the web (e.g. https://www.kaggle.com). Provide a clear description of the data and its source (i.e. URL of the web site).
Description: I’ve used  here the data set of Generic Food

Step 3:-

Load the Dataset into Pandas DataFrame

In [11]:
df = pd.read_csv('https://query.data.world/s/hkgtwha5bibgaxwteuma3mlzgei2zv?dws=00000')

In [12]:
df

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
0,Angelica,Angelica keiskei,Herbs and Spices,Herbs
1,Savoy cabbage,Brassica oleracea var. sabauda,Vegetables,Cabbages
2,Silver linden,Tilia argentea,Herbs and Spices,Herbs
3,Kiwi,Actinidia chinensis,Fruits,Tropical fruits
4,Allium (Onion),Allium,Vegetables,Onion-family vegetables
...,...,...,...,...
902,Romaine lettuce,Lactuca sativa L. var. longifolia,Vegetables,Leaf vegetables
903,"Cow milk, pasteurized, vitamin A + D added, 0%...",NaN,Milk and milk products,Unfermented milks
904,"Cow milk, pasteurized, vitamin A + D added, 1%...",NaN,Milk and milk products,Unfermented milks
905,"Cow milk, pasteurized, vitamin A + D added, 2%...",NaN,Milk and milk products,Unfermented milks
906,"Cow milk, pasteurized, vitamin D added, 3.25% fat",NaN,Milk and milk products,Unfermented milks

Step 4:-
    
Data Preprocessing: check for missing values in the data using pandas isnull(),
describe() function to get some initial statistics. Provide variable descriptions.
Types of variables etc. Check the dimensions of the data frame.

isnull() : to check the missing values

In [13]:
df.isnull()

     FOOD NAME  SCIENTIFIC NAME  GROUP  SUB GROUP
0        False            False  False      False
1        False            False  False      False
2        False            False  False      False
3        False            False  False      False
4        False            False  False      False
..         ...              ...    ...        ...
902      False            False  False      False
903      False             True  False      False
904      False             True  False      False
905      False             True  False      False
906      False             True  False      False

[907 rows x 4 columns]

describe() : returns the statistical summary of dataframe or series.

In [14]:
df.describe()

       FOOD NAME  SCIENTIFIC NAME          GROUP SUB GROUP
count        907              648            907       907
unique       907              639             24       123
top     Angelica  Capsicum annuum  Aquatic foods    Fishes
freq           1                6            166       111

size() : count the number of element along given axis.
shape() : gives the number of elements in each dimension of an array.
ndim() : return the number of dimensions of an array.

In [15]:
size = df.size

In [16]:
shape = df.shape

In [17]:
df_ndim = df.ndim

In [21]:
series_ndim = df["SCIENTIFIC NAME"].ndim

Step 5:-

Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.

dtypes: to check the data types of colums in a DataFrame.

In [23]:
dataTypeSeries = df.dtypes

In [24]:
print("Data Type of Each column of DataFrame is: ")
print(dataTypeSeries)

Data Type of Each column of DataFrame is:
FOOD NAME          object
SCIENTIFIC NAME    object
GROUP              object
SUB GROUP          object
dtype: object